grumphp:
  ascii:
    succeeded: ~
    failed: ~
  # For local dev using ddev, uncomment this and run `grumphp git:init`
  # git_hook_variables:
  #   EXEC_GRUMPHP_COMMAND: 'ddev exec -d /var/www/html'
  tasks:
    git_blacklist:
      keywords:
        - '(var_|)dump\(.*\);*'
        - 'die(;|\(.*\));*'
        - 'dpm\(.*\);*'
        - 'kint\(.*\);*'
        - 'ksm\(.*\);*'
      regexp_type: P
      triggered_by: ['php','module','inc']

    phpcs:
      standard: './vendor/jacerider/grumphp-drupal/src/CodingStandards/Drupal'
      triggered_by: ['php','module','inc','install','theme']

    phpstan:
      level: 1
      triggered_by: ['php','module','inc','install','theme']
      memory_limit: '-1'

    stylelint:
      triggered_by: [scss]
      whitelist_patterns:
          - /^modules/custom\/(.*)/
          - /^themes\/(.*)/
      config: stylelint.config.cjs
      max-warnings: 5
      quiet: false
