grumphp:
  ascii:
    succeeded: ~
    failed: ~
  git_hook_variables:
    EXEC_GRUMPHP_COMMAND: ddev exec php
  tasks:
    git_blacklist:
      keywords:
        - '(var_|)dump\(.*\);*'
        - 'die(;|\(.*\));*'
        - 'dpm\(.*\);*'
        - 'kint\(.*\);*'
        - 'ksm\(.*\);*'
      regexp_type: P
      triggered_by: ['php','module','inc']

    phpcs:
      standard: './vendor/jacerider/grumphp-drupal/src/CodingStandards/Drupal'
      triggered_by: ['php','module','inc','install','theme']

    phpstan:
      level: 1
      triggered_by: ['php','module','inc','install','theme']
      memory_limit: '-1'

    stylelint:
      triggered_by: [scss]
      whitelist_patterns: []
      config: stylelint.config.cjs
      max_warnings: 5
      quiet: false

services:
  jacerider\GrumPhpDrupal\Tasks\StylelintTask:
    arguments:
      - '@process_builder'
      - '@formatter.raw_process'
    tags:
      - { name: grumphp.task, task: stylelint }
